node_modules
app/build
*.json

# Pipeline Stuff
node_modules
app/build
vendor
.tmp
.sass-cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
.eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.ropeproject

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Django migrations
migrations

# Django database
*db.sqlite3
local_settings.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Translations
*.mo
*.pot

# Django stuff:
*.log



.DS_Store
