{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
  <h2 class="page-header">{{ header }}</h2>

    <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">Thumbnail Gallery</h1>
                </div>
                {% if album %}

                  {% for img in album %}
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="{{img.regular}}">
                    <img class="img-responsive" src="data:image/jpeg;base64,{{img.thumbnail}}" alt="Embedded Image">
                            </a>
                        </div>
                  {% endfor %}
                {% else %}
                  <h2  class="text-center"> No Images to show </h2>
                {% endif %}

            </div>

            <hr>
            <a class="btn btn-primary" href="javascript:history.back()">Back<a>

        </div>

{% endblock %}
